@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Carot Display';
    font-weight: 400;
    src: local('Carot Display Regular'), url(/fonts/Carot-Display-Regular.ttf) format('ttf');
  }
  
  @font-face {
    font-family: 'Carot Display';
    font-style: italic;
    src: local('Carot Display Italic'), url(/fonts/Carot-Display-Italic.ttf) format('ttf');
  }
  
  @font-face {
    font-family: 'Carot Display';
    font-weight: 700;
    src: local('Carot Display Bold'), url(/fonts/Carot-Display-Bold.ttf) format('ttf');
  }
  
  @font-face {
    font-family: 'P22 Operina Pro';
    font-weight: 400;
    src: local('P22 Operina Pro'), url(/fonts/p22-operina-pro.ttf) format('ttf');
  }
}
